:root {
    --white: #fff;
    --red: #FF6565;
    --darkblue: #071629;
    --darkblue2: #07162963;
    --transparent: rgba(255, 255, 255, 0.36);
    --black: rgba(0, 0, 0, 0.50);
}

.bgimg1 {
    background-image: url(./image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 255px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.menu a {
    color: var(--white);
}

.text {
    margin-top: 340px;
}

.text h1 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: var(--white);
    font-size: 32px;
    line-height: 40px;
}

.text-p1 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: var(--white);
    font-size: 16px;
    margin-bottom: 40px;
}

.button {
    color: var(--white);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 14px;
    background-color: var(--red);
    padding: 13px 31px;
    border-radius: 50px;
    width: 162px;
    margin: 0 auto;
    display: block;
    margin-bottom: 65px;
}

.btn {
    box-shadow: 0px 2px 20px 0px var(--black);
}

.text-p {
    width: 637px;
    text-align: center;
    margin: auto;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: var(--white);
    font-size: 16px;
    line-height: 26px;
}